---
import Button from "../components/Button.astro";
import LinkButton from "../components/LinkButton.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Userscript collection" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | lnus.github.io/userscripts</title>

    <script is:inline>
    const theme = (() => {
      if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
        return localStorage.getItem('theme');
      }
      return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    })();

    if (theme === 'dark') document.documentElement.classList.add('dark');
    </script>
  </head>
  <body
    class="min-h-screen py-6 font-mono transition-colors duration-200 dark:bg-black dark:text-white bg-white text-black"
  >
    <main class="max-w-4xl mx-auto px-4 py-8">
      <div class="border-2 border-current p-8">
        <div class="flex justify-between items-center">
          <a href="/userscripts">
            <h1 class="text-4xl lowercase tracking-tight">{title}</h1>
          </a>
          <div class="flex items-center space-x-4">
            <LinkButton href="/userscripts">home</LinkButton>
            <Button id="theme-toggle">toggle theme</Button>
          </div>
        </div>
      </div>

      <div class="mt-8">
        <slot />
      </div>
    </main>
  </body>
</html>

<script>
const themeToggle = document.getElementById("theme-toggle");
themeToggle?.addEventListener("click", () => {
  document.documentElement.classList.toggle("dark");
  localStorage.setItem(
    "theme",
    document.documentElement.classList.contains("dark") ? "dark" : "light"
  );
});
</script>

<style is:global>
:root {
font-family: "IBM Plex Mono", monospace;
}
</style>
