---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<span
  data-tag
  class="px-2 py-1 text-xs rounded-full
  bg-neutral-100 dark:bg-neutral-800
  hover:bg-neutral-200 dark:hover:bg-neutral-700
  transition-colors"
>
  #{name}
</span>
